/* Global */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

body {
  background-color: #F7F8F8;
}

a {
  text-decoration: none;
}

/* Header */

header {
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 15px;
  background-color: #F7F8F8;
  box-shadow: 0px 22px 10px rgba(0, 0, 0, .05);
  position:relative;
  z-index:2;
}

header .tnw-logo {
  width: 70px;
}

header .email-icon {
  width: 22px;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-link {
  margin-right: auto;
  align-self: stretch;
}

header nav {
  align-self: stretch;
  display: flex;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 700px;
}

header nav ul li{
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-family: 'Ropa Sans', sans-serif;
  letter-spacing: 1.5px;
  color: #505666;
}

header nav ul li:hover,
.current-page {
  background-color: #FFFFFF;
  color: #000000;
}

.header-email-link {
  margin-left: auto;
}

/* conference cta */

.conference-cta {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 25px;
  position: relative;
  z-index: 1;
  background-color: #fd3;
  color: black;
  box-shadow: 0px 22px 30px rgba(0, 0, 0, .07);
}
.conference-cta p {
  font-size: 13px;
}

/* main logo heading */

.main-logo-heading {
  height: 230px;
  width: 80%;
  margin-top: 93px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
}

.main-logo-heading img {
  width: 225px;
  margin-right: 230px;
}

.flex-half {
  flex-basis: 50%;
}

.main-logo-heading h1 {
  margin-left: 200px;
  font-size: 32px;
  color: #505666;
}

/* grid with 5 articles */

.featured-article-grid {
  height: 633px;
  width: 80%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 250px 1fr 250px;
  gap: 8px;
}

.grid-article-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-image: url("../img/featured-article-1-alien.jpeg");
  background-size: cover;
  color: white;
}

.grid-article-1 img {
  width: 100%;
}

.grid-article-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-image: url("../img/featured-article-2-china.jpeg");
  background-size: cover;
  color: white;
}

.grid-article-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-image: url("../img/featured-article-3-chip.jpeg");
  background-size: cover;
  color: white;
}

.grid-article-4 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-image: url("../img/featured-article-4-conference.jpeg");
  background-size: cover;
  color: white;
}

.grid-article-5 {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  background-image: url("../img/featured-article-5-elon.jpeg");
  background-size: cover;
  color: white;
}
/* popular articles today */

.popular-articles {
  height: 370px;
  background-color: gray;
}

/* latest articles */

.latest-articles {
  height: 800px;
  width: 70%;
  margin: 0 auto;
  background-color: hotpink;
}

/* explore our channels */

.explore-our-channels {
  height: 500px;
  background-color: indianred;
}

/* newsletter call to action */

.newsletter-cta {
  height: 370px;
  background-color: lemonchiffon;
}

/* watch what we made for you */

.watch-our-vids {
  height: 800px;
  width: 70%;
  margin: 0 auto;
  background-color: lightgreen;
}

/* work with us */

.work-with-us {
  height: 600px;
  width: 70%;
  margin: 0 auto;
  background-color: cyan;
}

/* footer */

footer {
  height: 500px;
  background-color: black;
  color: white;
}

/* misc */

.divfix {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3000;
}
