/* Global */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

/* Header */

header {
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 15px;
  background-color: #F7F8F8;
  box-shadow: 0px 22px 10px rgba(0, 0, 0, .05);
  position:relative;
  z-index:2;
}

header .tnw-logo {
  width: 70px;
}

header .email-icon {
  width: 22px;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-link {
  margin-right: auto;
  align-self: stretch;
}

header nav {
  align-self: stretch;
  display: flex;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 700px;
}

header nav ul li{
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-family: 'Ropa Sans', sans-serif;
  letter-spacing: 1.5px;
  color: #505666;
}

header nav ul li:hover,
.current-page {
  background-color: #FFFFFF;
  color: #000000;
}

.header-email-link {
  margin-left: auto;
}

/* conference cta */

.conference-cta {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 25px;
  position: relative;
  z-index: 1;
  background-color: #fd3;
  color: black;
  box-shadow: 0px 22px 30px rgba(0, 0, 0, .07);
}
.conference-cta p {
  font-size: 13px;
}

/* main logo heading */

.main-logo-heading {
  height: 230px;
  width: 80%;
  margin-top: 93px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
  text-align: center;
}

.main-logo-heading img {
  width: 225px;
  margin-right: 230px;
}

.flex-half {
  flex-basis: 50%;
}

.main-logo-heading h1 {
  margin-left: 200px;
  font-size: 32px;
  color: #505666;
}

/* grid with 5 articles */

.featured-article-grid {
  height: 633px;
  width: 80%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 250px 1fr 250px;
  gap: 8px;
}

.featured-article-grid article {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

.grid-article-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  color: white;
}

.grid-article-img {
  width: 100%;
  height: 100%;
}

.grid-article-text {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-image: linear-gradient(180deg,transparent 0,#000);
}

.grid-article-1 h3,
.grid-article-5 h3 {
  font-size: 12px;
  line-height: normal;
  margin-bottom: 0;
  margin-left: 20px;
}

.grid-article-1 h2,
.grid-article-5 h2 {
  font-size: 35px;
  font-weight: 900;
  line-height: normal;
  margin-top: 0;
  margin-left: 20px;
}

.grid-article-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: white;
}

.grid-article-2 h3,
.grid-article-3 h3 {
  font-size: 11px;
  line-height: normal;
  margin-bottom: 0;
  margin-left: 20px;
}

.grid-article-2 h2,
.grid-article-3 h2 {
  font-size: 22px;
  font-weight: 900;
  line-height: normal;
  margin-top: 0;
  margin-left: 20px;
}

.grid-article-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  color: white;
}

.grid-article-4 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  color: white;
}

.grid-article-text-ad {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg,transparent 0,#000);
}

.grid-article-4 h2{
  font-size: 25px;
  margin: 0;
  line-height: normal;
}

.grid-article-4 button {
  border-radius: 25px;
  height: 50px;
  width: 140px;
  margin-top: 18px;
  background-color: transparent;
  font-size: 14px;
  color: white;
  border: 1px solid white;
}

.grid-article-5 {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  color: white;
}
/* popular articles today */

.popular-articles {
  height: 335px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #F7F8F8;
}

.popular-articles h2 {
  font-size: 23px;
  color: #A7AAB2;
}

.popular-articles ol {
  display: flex;
  gap: 80px;
}

.popular-articles a {
  color: black;
}

.popular-articles a:hover {
  text-decoration: underline;
  text-decoration-color: #CC0099;
}

.popular-articles ol li::marker{
  color: #CC0099;
}

.popular-articles ol li h3{
  font-size: 17px;
  width: 220px;
  margin: 0;
  line-height: normal;
}

/* latest articles */

.latest-articles {
  height: 875px;
  width: 64%;
  margin: 0 auto;
}

.latest-articles h2 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 60px;
}

.latest-articles-grid {
  height: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 32px;
  row-gap: 37px;
}

.latest-article-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.latest-article-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.latest-article-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.latest-article-4 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.latest-article-5 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.latest-article-6 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.latest-article-7 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.latest-article-8 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.latest-articles-grid img {
  width: 100%;
}

.latest-articles-grid a {
  color: #11eff7;
}

.latest-articles-grid a:hover {
  color: black;
}

.latest-articles-grid article h4 {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.latest-articles-grid article h3 {
  font-size: 17px;
  line-height: 1.4;
  margin: 0;
  color: black;
}

.latest-articles-grid article h3:hover {
  text-decoration: underline;
  text-decoration-color: #CC0099;
}

.pink-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 130px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #b30086;
  border-radius: 50px;
  background-color: #CC0099;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.pink-button:hover {
  color: black;
}

/* explore our channels */

.explore-our-channels {
  height: 590px;
  background-color: #F7F8F8;
  padding-top: 110px;
}

.explore-content {
  width: 1540px;
  margin-left: auto;
  margin-right: auto;
}

.explore-content h2 {
  margin: 0;
  font-size: 33px;
  line-height: normal;
  font-weight: bold;
}

.explore-flexbox {
  height: 232px;
  margin-top: 70px;
  display: flex;
  gap: 18px;
}

.explore-flexbox a {
  flex-basis: 20%;
  color: white;
}

.explore-flexbox a article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 70px;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.explore-flexbox a img{
  width: 120px;
}

.explore-flex-1 {
  background-image: url('../img/explore-channel-1.webp');
  background-size: cover;
}

.explore-flex-2 {
  background-image: url('../img/explore-channel-2.jpeg');
  background-size: cover;
}

.explore-flex-3 {
  background-image: url('../img/explore-channel-3.jpeg');
  background-size: cover;
}

.explore-flex-4 {
  background-image: url('../img/explore-channel-4.jpeg');
  background-size: cover;
}

.explore-flex-5 {
  background-image: url('../img/explore-channel-5.webp');
  background-size: cover;
}

.explore-flexbox h3 {
  font-size: 16px;
}

/* newsletter call to action */

.newsletter-cta {
  height: 370px;
  background-color: lemonchiffon;
}

/* watch what we made for you */

.watch-our-vids {
  height: 800px;
  width: 70%;
  margin: 0 auto;
  background-color: lightgreen;
}

/* work with us */

.work-with-us {
  height: 600px;
  width: 70%;
  margin: 0 auto;
  background-color: cyan;
}

/* footer */

footer {
  height: 500px;
  background-color: black;
  color: white;
}

/* misc */

.divfix {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3000;
}
