/* Global */

* {
  font-family: 'Ropa Sans', sans-serif;
  letter-spacing: 1.5px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

a {
  text-decoration: none;
}

/* Header */

header {
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 15px;
  background-color: #F7F8F8;
}

header .tnw-logo {
  width: 70px;
}

header .email-icon {
  width: 22px;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-link {
  margin-right: auto;
  align-self: stretch;
}

header nav {
  align-self: stretch;
  display: flex;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 700px;
}

header nav ul li{
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  color: #505666;
}

header nav ul li a{
  font-size: 15px;
}

header nav ul li:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.header-email-link {
  margin-left: auto;
}

/* conference cta */

.conference-cta {
  height: 44px;
  background-color: goldenrod;
}

/* main logo heading */

.main-logo-heading {
  height: 225px;
  width: 80%;
  margin: 0 auto;
  background-color: honeydew;
}

/* grid with 5 articles */

.featured-article-grid {
  height: 633px;
  width: 80%;
  margin: 0 auto;
  background-color: lavender;
}

/* popular articles today */

.popular-articles {
  height: 370px;
  background-color: gray;
}

/* latest articles */

.latest-articles {
  height: 800px;
  width: 70%;
  margin: 0 auto;
  background-color: hotpink;
}

/* explore our channels */

.explore-our-channels {
  height: 500px;
  background-color: indianred;
}

/* newsletter call to action */

.newsletter-cta {
  height: 370px;
  background-color: lemonchiffon;
}

/* watch what we made for you */

.watch-our-vids {
  height: 800px;
  width: 70%;
  margin: 0 auto;
  background-color: lightgreen;
}

/* work with us */

.work-with-us {
  height: 600px;
  width: 70%;
  margin: 0 auto;
  background-color: cyan;
}

/* footer */

footer {
  height: 500px;
  background-color: black;
  color: white;
}
